[submodule "HW.1.1.People-Builder"]
	path = HW.1.1.People-Builder
	url = https://github.com/imLIVI/DesignPattern-Builder.git
[submodule "HW.1.2.Logger-Singleton"]
	path = HW.1.2.Logger-Singleton
	url = https://github.com/imLIVI/DesignPattern-Logger.git
[submodule "HW.2.1.Calculator-Adapter"]
	path = HW.2.1.Calculator-Adapter
	url = https://github.com/imLIVI/DesignPattern-Adapter.git
[submodule "HW.2.2.BinaryFacade-Facade"]
	path = HW.2.2.BinaryFacade-Facade
	url = https://github.com/imLIVI/DesignPattern-Facade.git
[submodule "HW.3.1.InfiniteIteration-Iterator"]
	path = HW.3.1.InfiniteIteration-Iterator
	url = https://github.com/imLIVI/DesignPattern-Iterator.git

